<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="style.css"></link>
    <meta charset="utf-8">
    <title>大藏经阅读进度</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <select ng-options="sources[id].name for id in sourceIds"
        ng-model="sourceId" class="sutra-sources" ng-change="sourceChanged()">
    </select>
    <login-button></login-button>
    <h1 class="center-align">深入经藏，智慧如海</h1>
    <div class="center-align">
      进度：已完成{{finished}}部，共{{total}}部
      <span ng-if="!userId">(点右上角按钮登录可保存书签和进度)</span>
    </div>
    <div class="progress-bar-container">
      <div class="progress-bar" style="width: {{finished*100.0/total}}%">
      </div>
    </div>
    <div class="padded-element">
      <div ng-if="recentBooks.length">最近访问</div>
      <div ng-if="recentBooks.length" class="book-container"
          ng-class="{'logedIn': !!userId}">
        <div ng-repeat="book in recentBooks | filter: {source: sourceId}">
          <book book="book"></book>
        </div>
      </div>
      <hr>
      <input placeholder="输入名字查找" ng-model="nameFilter">
      <label>
        <input type="radio" name="finished" ng-model="state" value="2">
        全部
      </label>
      <label>
        <input type="radio" name="finished" ng-model="state" value="1">
        已完成
      </label>
      <label>
        <input type="radio" name="finished" ng-model="state" value="0">
        未完成
      </label>
    </div>
    <div class="book-container" ng-class="{'logedIn': !!userId}">
      <div ng-repeat="book in books | filter: {name: nameFilter}"
          ng-if="state == 2 || (book.finished || 0) == state">
          <book book="book"></book>
      </div>
    </div>
    <script type="text/javascript" src="index.js?tag=201707120800"></script>
  </body>
</html>
