<span ng-switch="collapsed" ng-click="collapsed = !collapsed"
    class="clickable padded-element">
  <span ng-switch-when="true" title="显示书签列表">&gt;&gt;</span>
  <span ng-switch-default title="隐藏书签列表">&lt;&lt;</span>
</span>
<div class="padded-element" ng-if="!collapsed">
  <input type="submit" value="Add bookmark" ng-click="create()">
  <div>(请先选择一小段文字以标记书签位置)</div>
</div>
<div class="css-table odd-even" ng-if="!collapsed">
  <div ng-repeat="bookmark in bookmarks" class="css-table-row clickable">
    <div class="css-table-cell" ng-click="open(bookmark)">
      <div class="title-field">{{bookmark.title}}</div>
      <div class="anchor-field">{{bookmark.anchor}}</div>
    </div>
    <div class="css-table-cell" ng-click="remove(bookmark)" title="删除书签">
      x
    </div>
  </div>
</div>
